body {
    margin: 0;
    background: lime;
    text-align: center;
    color: #333;
    line-height: 2em;
}

.eggballs {
    color: blueviolet;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    font: normal 24px;
    border-top-style: groove;
    border-bottom-style: groove;
    border: 50px orange;
}